# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

## File-based project format:
*.ipr
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/


### Node template
# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules


